/* App.css atau file CSS terpisah */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
}


/* Tambahkan gaya agar navigasi dan footer tetap di atas dan bawah */
.navigation-container {
  position: sticky;
  top: 0;
  z-index: 1000;
}

.full-screen-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.footer {
  width: 100%;
  position: sticky;
  bottom: 0;
  background-color: green;
  color: white;
  padding: 15px 0;
  z-index: 1000;
}